@use '@angular/material' as mat;
@use './styles/themes/bluetheme.css' as theme;
@use './styles/_tailwind' as tw;

:root {
  @include mat.button-overrides((
    tonal-container-shape: var(--mat-sys-corner-medium),
    text-container-shape: var(--mat-sys-corner-medium),
    protected-container-shape: var(--mat-sys-corner-medium),
    outlined-container-shape: var(--mat-sys-corner-medium),
    filled-container-shape: var(--mat-sys-corner-medium),
  ));
}